# plugin.cfg - LoxBerry Plugin Interface 2.0 configuration
# Based on LoxBerry-Plugin-SamplePlugin-V4.

[AUTHOR]
NAME=Oliver Lewald
EMAIL=olewald64@gmail.com

[PLUGIN]
VERSION=0.0.3
NAME=cssframework
FOLDER=cssframework
TITLE=CSS Framework
MENUNAME=CSS Framework
DESCRIPTION=Token based Design Studio for LoxBerry CSS Framework themes.
HOMEPAGE=
SYSTEM=true

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/Liver64/LoxBerry-CSS-Studio/master/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/Liver64/LoxBerry-CSS-Studio/master/prerelease.cfg


[SYSTEM]
REBOOT=false
LB_MINIMUM=4.0.0
LB_MAXIMUM=false
ARCHITECTURE=false
CUSTOM_LOGLEVELS=false
INTERFACE=2.0
